databasetools==1.4.6
differentiate==1.2.1
dirutility==0.7.18
-e git+https://github.com/mrstephenneal/Dockerizer.git@f2eff10e8630b6a54bdf69f03fdefab17b470779#egg=Dockerizer
looptools==1.2.3
mysql-connector==2.2.9
mysql-toolkit==1.9.1
PySimpleGUI==3.29.0
RuntimeWatch==1.0.1
sqlparse==0.3.0
tqdm==4.31.1
